section{
    border: 2px solid goldenrod;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    /* column-gap: 2px; */
    /* row-gap: 2px; */
}
.max{
    height: 180px;
    /* width: 100px; */
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lio{
    height: 180px;
    /* width: 100px; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 100px;
}
.a:hover{
    transition: 1s linear all;
    transform: translateY(180px);
}
.b:hover{
    transition: 1s linear all;
    transform: translateY(-180px);
}
